<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <div flash-message="3000" class="flash-message"></div>
  <div ui-view></div>
</body>

