<div layout="row" class="images-container-title">
  <div flex>
    <div class="upload-image-box">
      <div ngf-drop ngf-select ng-hide="imgSrc"
           ngf-change="addImages($files)"
           ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" 
           class="drop-box"
           ngf-multiple="false" ngf-allow-dir="false" ngf-accept="'image/*'"
           ngf-drop-available="dropAvailable">
        <div>Click here to select image</div>
        <div>
          <strong>OR</strong>
        </div>
        <div ng-show="dropAvailable">You can also drop image to here</div>
      </div>
      <div ng-show="imgSrc" class="image-preview">
        <img ng-src="{{imgSrc}}"/>
        <button ng-click="removeImages()" ng-show="imgSrc">X</button>
      </div>
    </div>
  </div>
</div>