.barbers {
  font-size: 16px;
  .header-bar{
    // color: white;
    background-color: @header-bar;
    padding: 20px;
    display: inline-block;
    width: 100%;
    .new-barber-action {
      float: left;
      .btn {
        color: white;
        font-size: 16px;
      }
    }
    .right-actions {
      width: 100%;
      .pick-date {
        width: 290px;
        float: right;
        color: white;
        input {
          background-color: rgba(255,255,255,0);
          border: none;
          outline: none;
          text-align: right;
        }
        .ng-scope [ng-click="select(null)"] {
          display: none;
        }
        .input-group-btn{
          button{
            padding: 0px;
            background: transparent;
            border: none;
            img{
              width: 30px;
              height: 35px;
            }
          }
        }
      }
      .logout{
        float: right;
        margin-left: 20px;
        line-height: 36px;
        a{
          color: white;
        }
      }
    }
  }
  .navbar{
    color: @master-color;
    background-color: #9b63a8;
    .navbar-header{
      padding: 10px;
      .btn{
        color: #a9edf7;
        font-size: 16px;
      }
    }
  }
  .booking-table {
    // width: 100%;
    // height: 500px;
    // overflow: scroll;
    div.DTFC_LeftHeadWrapper table,
    div.DTFC_LeftFootWrapper table,
    div.DTFC_RightHeadWrapper table,
    div.DTFC_RightFootWrapper table,
    table.DTFC_Cloned {
      background: none;
      tr.even, tr.odd, thead, tfoot{
        background-color: white;
      }
    }
    .table > caption + thead > tr:first-child > th,
    .table > colgroup + thead > tr:first-child > th,
    .table > thead:first-child > tr:first-child > th{
      border: 1px solid @master-color;
      text-align: center;
      min-width: 140px;
      color: @master-color;
      &.time-work{
        min-width: 175px;
      }
    }
    .table-bordered {
      border: 1px solid @master-color;
      & > thead, & > tfoot, & > tbody {
        & > tr {
          & > th, & > td {
            border: 1px solid @master-color;
            background: none;
          }
        }
      }
    }
  }
  .barber-calendar{
    font-weight: 300;
    color: @master-color;
    td {
      text-align: center;
      vertical-align: middle;
    }
    .profile {
      width: 116px;
      text-align: center;
      .name {
        font-size: 18px;
      }
    }
    .actions{
      width: 100px;
      text-align: center;
      .action{
        color: @master-color;
        font-size: 16px;
        margin: 30px 0;
      }
    }
    .time-work{
      min-width: 130px;
      color: @master-color;
      .btn-assign {
        margin-bottom: 25px;
      }
      .btn {
        font-size: 16px;
      }
    }
    .client{
      margin-bottom: 15px;
    }
    .no-show {
      color: @slaver-color;
      font-weight: bold;
    }
  }
}

.new-barber-modal, .new-setting-modal, .new-customer-modal, .verification-modal {
  .modal-content {
    border: 1px solid @master-color;
    color: @master-color;
    border-style: none solid solid solid;
    font-weight: 300;
    .modal-header{
      height: 48px;
      padding: 5px 20px;
      font-size: 18px;
      line-height: 37px;
      background-color: @master-color;
      color: white;
      margin-right: -1px;
      border: none;
      h3 {
        margin-top: 10px;
        font-weight: 300;
      }
    }
    .modal-body {
      .form-title {
        padding-bottom: 10px;
        font-size: 16px;
        color: #878787;
      }
      textarea  {
        resize: none;
      }
      .form-group {
        .change_password {
          font-weight: bold;
        }
        .intl-tel-input {
          width: 100%;
        }
      }
      .form-control{
        border-radius: 5px;
        border: 1px solid @master-color;
        &:hove, &:active, &:focus {
          border: 1px solid @master-color;
        }
        &::-webkit-input-placeholder {
          color: @master-color;
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: @master-color;
        }
        &::-moz-placeholder {  /* Firefox 19+ */
          color: @master-color;
        }
        &:-ms-input-placeholder {
          color: @master-color;
        }
      }
      .upload-image-box {
        background-color: #eaeff3;
        border: 1px solid @master-color;
        width: 200px;
        height: 200px;
        text-align: center;
        margin: 0 auto;
        .drop-box {
          padding-top: 60px;
          height: 200px;
        }
        .drop-box.dragover {
          border: 1px dashed blue;
        }

        .drop-box.dragover-err {
          border: 1px dashed red;
        }

        .image-preview {
          width: 200px;
          height: 200px;
          text-align: center;
          position: relative;
          img{
            width: 100%;
            height: 100%;
            padding: 0 2px 2px 0;
          }
          button{
            border-radius: 50%;
            width: 30px;
            height: 30px;
            border: none;
            position: absolute;
            top: -15px;
            right: -15px;
            background-color: gray;
            padding: 0px;
            color: white;
          }
        }
      }
      .change_password {
        a.control-label {
          color: @slaver-color;
        }
      }
      .modal-action{
        text-align: center;
      }
    }
  }
}