.walk {
  color: @master-color;
  .notes {
    font-size: small;
    color: #797979;
    span {
      margin-right: 20px;
    }
  }
  .walk_title {
    text-align: center;
  }
  .form-booking {
    padding: 10px 0;
    .form-col {
      margin: 5px 0;
      button {
        width: 100%;
      }
      input, select {
        padding: 0 10px;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid @master-color;
        &::-webkit-input-placeholder {
          color: @master-color;
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: @master-color;
        }
        &::-moz-placeholder {  /* Firefox 19+ */
          color: @master-color;
        }
        &:-ms-input-placeholder {
          color: @master-color;
        }
      }
    }
  }
  .schedule {
    .title {
      text-align: center;
    }
    .schedule-table {
      .table {
        th, td {
          text-align: center;
          vertical-align: middle;
        }
        .schedule-body {
          color: #757982;
          tr.completed {
            opacity: 0.4;
          }
        }
      }
      .table-bordered {
        border: 1px solid @master-color;
      }
      .table-bordered > thead > tr > th,
      .table-bordered > thead > tr > td,
      .table-bordered > tbody > tr > th,
      .table-bordered > tbody > tr > td,
      .table-bordered > tfoot > tr > th,
      .table-bordered > tfoot > tr > td {
        border: 1px solid @master-color;
      }
      .table-bordered > thead > tr > th,
      .table-bordered > thead > tr > td {
        background: none;
      }
    }
  }
}