
<template name="login">
  <div class="container-fluid" >
    <div class="authform">
      <img class="center-block" src="caramba-logo.png" alt="Caramba" width="300" height="140">
      <h2>Log in</h2>
      <form id="application-login">
        <div class="form-inputs">
          <div class="form-group">
            <label class="control-label">Email</label>
            <input class="form-control" autofocus="autofocus" type="email" value="" name="loginEmail">
          </div>
          <div class="form-group">
            <label class="control-label" for="user_password">Password</label>
            <input class="form-control" type="password" name="loginPassword">
          </div>
        </div>
        <div class="form-actions">
          <div class="form-group pull-left">
            <input type="submit" name="commit" value="Log in" class="btn btn-default res-btn">
          </div>
          <div class="form-group boolean optional user_remember_me options pull-left"><div class="checkbox"><input value="0" type="hidden" name="user[remember_me]"><label class="boolean optional" for="user_remember_me"><input class="boolean optional" type="checkbox" value="1" name="user[remember_me]" id="user_remember_me">Remember me</label></div></div>
        </div>
      </form>
      <div class="clearfix"></div>
      <a href="/resetpw">Forgot your password?</a>
      <br>
    </div>
  </div>
</template>