/*
 *
 *   INSPINIA - Responsive Admin Theme
 *   Copyright 2014 Webapplayers.com
 *
*/

// Variables, Mixins
@import "variables.import.less";
@import "mixins.import.less";

// INSPINIA Theme Elements
@import "typography.import.less";
@import "navigation.import.less";
@import "buttons.import.less";
@import "badgets_labels.import.less";
@import "elements.import.less";
@import "sidebar.import.less";
@import "base.import.less";
@import "pages.import.less";

// For demo only - config box style
@import "theme-config.import.less";

// INSPINIA Skins
@import "skins.import.less";

// Media query style
@import "media.import.less";

// Custom style
// Your custom style to override base style
@import "custom.import.less";

//Object style
@import "../barbers/styles/barbers.import.less";
@import "../walk/styles/walk.import.less";

@import "libs/angular-flash.import.less";

.content-list{
  margin: 20px 0;
}

.contents-list{
  margin-top: 20px;
}


.flash-message{
  position: fixed;
  z-index: 10000;
  padding: 10px;
  top: 40px;
  right: 0px;
  pointer-events: none;
}
.alert.alert-dismissible {
  width: 320px;
  position: relative;
  float: right;
  clear: both;
  margin-bottom: 5px;
  pointer-events: auto;
  padding: 10px 50px 10px 10px;
  .close {
    position: absolute;
    top: 5px;
    right: 15px;
  }
}

/*--------Button styles-------*/
.btn-header {
  background-color: #b74d61;
  border-color: #b74d61;
  color: white;
  &:hover, &:focus, &.focus{
    color: white;
  }
}
.btn-purple {
  background-color: #ff8685;
  border-color: #ff8685;
  color: white;
  &:hover, &:focus, &.focus{
    color: white;
  }
}

.btn-assign {
  background-color: @master-color;
  border-color: @master-color;
  color: white;
  &:hover, &:focus, &.focus{
    color: white;
  }
}

.btn-save {
  background-color: @master-color;
  border-color: @master-color;
  color: white;
  &:hover, &:focus, &.focus{
    color: white;
  }
}

.clickable {
  cursor: pointer;
}

.btn-cancel {
  background-color: @slaver-color;
  border-color: @slaver-color;
  color: white;
  &:hover, &:focus, &.focus{
    color: white;
  }
}

// custom date picker style
.pick-date {
  .dropdown-menu {
    background-color: #fff;
    table {
      color: #333;
    }
  }
  .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    &.active {
      background-color: #21b9bb;
      color: #fff;
      .text-info {
        color: #fff;
      }
    }
  }
}