<div class="barbers">
  <div class="row">
    <div class="header-bar">
      <div class="col-sm-6">
        <div class="new-barber-action">
          <!-- <button id="btnCreateNewBarber" type="button" class="btn btn-w-m btn-header clickable" ng-click="goSchedule()">Barber schedule</button> -->
          <button id="btnSettings" type="button" class="btn btn-w-m btn-header clickable" ng-click="goAdmin()">Admin</button>
        </div>
      </div>
      <div class="col-sm-6">
        <div  class="right-actions">
          <div class="input-group pick-date">
            <input type="text" class="form-control" datepicker-popup="MMMM dd yyyy" ng-model="today" is-open="opened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" init-date="{{today}}" ng-disabled="true" ng-change="barberScope()"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event)">
                <img class="item-img" src="calendar.png"/>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-12">
        <div class="general-info">
          <div class="events">
            CHOOSE BARBER
          </div>
        </div>
      </div>
    </div>
    <div class="row barbers-list" >
      <div class="col-xs-4 col-md-3 col-lg-2 barber-item" ng-click="selectBarber(barber)" ng-class="{active: barber._id == currentBarber._id}" ng-repeat="barber in barbers">
        <div class="barber-image circle-images">
          <img class="item-img" src="{{getMainImage(barber.images)}}"/>
        </div>
        <div class="barber-name">
          {{barber.name}}
        </div>
      </div>

      <div class="col-xs-4 col-md-3 col-lg-2 barber-item" ng-click="selectBarber('anyone')" ng-class="{active: 'anyone' == currentBarber._id}" ng-if="has_anyone">
        <div class="barber-image circle-images">
          <img class="item-img" src="anyone-avatar.png"/>
        </div>
        <div class="barber-name">
          1st available
        </div>
      </div>
    </div>
    <div class="calendar" ng-if="currentBarber">
      <div class="row">
        <div class="calendar-header">
          <div class="col-xs-4">
            <div class="calendar-image circle-images">
              <img class="item-img" src="{{getMainImage(currentBarber.images)}}"/>
            </div>
          </div>
          <div class="col-xs-4 header-col-2">
            <div class="calendar-name">
              CALENDAR OF {{currentBarber.name.toUpperCase()}}
            </div>
            <div class="calendar-today">
              {{currentDate | calendarFilter}}
            </div>
          </div>
          <div class="col-xs-4">
            <ionic-datepicker input-obj="datepickerObjectPopup">
              <div class="calendar-date">
              </div>
            </ionic-datepicker>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="item calendar-body" ng-repeat="calendar in currentCalendars" ng-class="{busy: calendar.appointment}">
          <div class="row row-center">
            <div class="col-xs-4 calendar-col calendar-col-1">
              <span class="icon-circle icon-status" ng-class="{busy: calendar.appointment}"></span>
              <div class="hour-range">
                {{calendar.time | timeSlotFilter}}
              </div>
            </div>
            <div class="col-xs-4 calendar-col calendar-col-2">
              <div class="hour-status">
                {{calendar.appointment ? ((calendar.appointment == 'off') ?  'Not Work': (calendar.appointment.status == 'go_out' || calendar.appointment.status == 'day_off') ? 'Off': 'Busy') : 'Free' }}
              </div>
            </div>
            <div class="col-xs-4 calendar-col calendar-col-3">
              <div class="hour-action" ng-if="!calendar.appointment">
                <button class="btn btn-default" ng-click="bookAppointment(calendar.time)">Book now</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>