<div class="modal-header">
  <h3>CONFIRMATION INFORMATION</h3>
</div>

<div class="modal-body">
  <form name="confirmForm" class="form-horizontal" novalidate> 
    <div class="form-group" ng-class="{ 'has-error' : confirmForm.name.$invalid && (!confirmForm.name.$pristine || submitted)}">
      <div class="col-sm-12">
        <label class="control-label">Customer name:</label>
        <input ng-model="customer.name" id="nameInput" type="text" class="form-control" placeholder="Enter customer name" required name="name">
        <p ng-show="confirmForm.name.$invalid && (!confirmForm.name.$pristine || submitted)" class="help-block">Name is required.</p>
      </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : confirmForm.phone.$invalid && (!confirmForm.phone.$pristine || submitted)}">
      <div class="col-sm-12">
        <label class="control-label">Customer phone:</label>
        <input ng-model="customer.phone" id="nameInput" type="text" class="form-control" placeholder="Enter customer phone" required name="phone">
        <p ng-show="confirmForm.phone.$invalid && (!confirmForm.phone.$pristine || submitted)" class="help-block">Phone is required.</p>
      </div>
    </div>
  </form>
  <div class="modal-action">
    <button ng-click="saveCustomer(confirmForm.$valid)" class="btn btn-save">Save</button>
    <button ng-click="cancel()" class="btn btn-cancel">Cancel</button>
  </div>
</div>