<div class="container-fluid">
  <div class="authform barber-box">
    <div class="title">
      LOG IN
    </div>
    <div class="content">
      <form id="application-login">
        <div ng-show="lc.error" class="md-warn">
          <small>{{ lc.error }}</small>
        </div>
        <div class="choose-type">
          <input value="barber" type="radio" ng-model="lc.credentials.userType"/> Barber
          <input class= "admin-radio" value="admin" type="radio" ng-model="lc.credentials.userType"/> Admin
        </div>
        <div class="form-inputs">
          <div class="form-group">
            <label class="control-label">Password:</label>
            <input class="form-control" type="password" ng-model="lc.credentials.password" aria-label="password" placeholder="Password"/>
          </div>
        </div>
        <div class="form-actions">
          <button ng-click="lc.login()" class="btn btn-save">Log in</button>
          <button ng-click="lc.cancel()" class="btn btn-cancel">Cancel</button>
        </div>
      </form>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
