
<div class="container-fluid" >
  <div class="authform">
    <img class="center-block" src="caramba-logo.png" alt="Caramba" width="300" height="140">
    <h2>Reset your password</h2>
    <form id="application-resetpw">
      <div ng-show="rpc.error" class="md-warn">
        <small>{{ rpc.error }}</small>
      </div>
      <div class="form-inputs">
        <div class="form-group">
          <label class="control-label">Email</label>
          <input class="form-control" autofocus="autofocus" type="email" ng-model="rpc.credentials.email" aria-label="email"/>
        </div>
      </div>
      <div class="form-actions">
        <div class="form-group pull-left">
           <button ng-click="rpc.reset()" class="btn btn-default res-btn">Reset password</button>
        </div>
      </div>
    </form>
    <div class="clearfix"></div>
    <a href="/login">Log in</a>
    <br>
  </div>
</div>
