.schedule-list {
  .schedule-header {
    overflow: hidden;
    margin: 0 auto;
    background-color: #868d95;
    text-align: center;
    color: white;
    .row {
      margin: 0px;
    }
    .header-col{
      height: 42px;
      padding: 10px 5px;
    }
    .header-col-2 {
      background-color: rgba(160,160,160,0.5);
    }
  }
  .schedule-body {
    text-align: center;
    background-color: transparent;
    color: white;
    .row{
      border-top: 1px solid #ddd;
      margin: 0px;
    }
    &:last-child {
      border-bottom: 1px solid #ddd; 
    }
    .schedule-col {
      height: 52px;
      padding: 15px 5px;
    }
    .schedule-col-2 {
      background-color: rgba(160,160,160,0.5);
    }
  }
}

@media (max-width: 351px) {
  .schedule-list {
    .schedule-header{
      .header-col-3{
        padding-top: 2px;
      }
    }
  }
}

@media (max-width: 398px) {
  .schedule-list {
    font-size: 14px;
    .schedule-body {
      .schedule-col.schedule-col-3 {
        padding-top: 8px;
      }
    }
  }
}

@media (max-width: 479px) {
  .schedule-list {
    .schedule-body {
      .schedule-col-3 {
        padding: 5px;
      }
    }
  }
}
