<div class="modal-body">
  <form name="customerForm" class="form-horizontal" novalidate>
    <div class="form-title">
      Enter CODE to check off
    </div>
    <div class="form-group" >
      <div class="col-sm-12">
        <input ng-model="code" id="code" type="password" class="form-control" required name="code">
      </div>
    </div>
  </form>
  <div class="modal-action">
    <button ng-click="checkOff(code)" class="btn btn-save">Check Off</button>
    <button ng-click="cancel()" class="btn btn-cancel">Cancel</button>
  </div>
</div>