<div class="barbers">
  <div class="row">
    <div class="header-bar">
      <div class="col-sm-6">
        <div class="new-barber-action">
          <button id="btnSettings" type="button" class="btn btn-w-m btn-header clickable" ng-click="goAdmin()">Admin</button>
        </div>
      </div>
      <div class="col-sm-6">
        <div  class="right-actions">
          <div class="input-group pick-date">
            <input type="text" class="form-control" datepicker-popup="MMMM dd yyyy" ng-model="today" is-open="opened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" init-date="{{today}}" ng-disabled="true" ng-change="barberScope()"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event)">
                <img class="item-img" src="calendar.png"/>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper wrapper-content animated fadeInRight walk">
    <div class="row">
      <div class="col-lg-12 walk_title">
        Don't have an Appointment. No problem.
        <br/>
        Book yourself in as a Walk-in Appointment Below!
      </div>
    </div>

    <form class="form-booking" name="bookingForm">
      <div class="row">
        <div class="col-sm-6 form-col">
          <input type="text" class="form-control" placeholder="Enter your name" ng-model="newBooking.cus_name" required ng-disabled="!isMainDate">
        </div>
        <div class="col-sm-4 form-col">
          <select class="form-control"  name="currentBarberId" ng-model="newBooking.barber_id" required ng-disabled="!isMainDate">
            <option value="">Select a barber</option>
            <option value="anyone">1st available</option>
            <option ng-repeat="barber in barbers" value="{{barber._id}}">{{barber.name}}</option>
          </select>
        </div>
        <div class="col-sm-2 col-xs-4 pull-right form-col">
          <button type="submit" class="btn btn-save pull-right" ng-click="saveBooking(bookingForm.$valid)" ng-disabled="!isMainDate">Book</button>
        </div>
      </div>
    </form>


    <div class="schedule">
      <div class="title">
        List of current Appointments and Walk-in's
      </div>
      <div class="row">
        <div class="col-lg-12 notes">
          <span>A = Pre booked Appointment</span>
          <span>W = Walk-in</span>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 schedule-table">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th> Customer </th>
                <th> Barber </th>
                <th> Type </th>
                <th> Time </th>
                <th> Done </th>
              </tr>
            </thead>

            <tbody class="schedule-body">
              <tr ng-repeat="appointment in appointments" class="{{appointment.status}}">
                <td class="">
                  {{appointment.cus_name}}
                </td>
                <td class="">
                  {{getBarberName(appointment.barber_id)}}
                </td>
                <td class="">
                  {{appointment.type || 'A'}}
                </td>
                <td class="">
                  <!-- {{appointment.type == 'W' ? (appointment.start_time | timeBookingFilter) : (appointment.start_time | timeBookingUTCFilter)}} -->
                  {{appointment.start_time | timeBookingUTCFilter}}
                </td>
                <td class="">
                  <input type="checkbox" id="checkbox_{{appointment._id}}" ng-click="verify(appointment._id)" ng-if="appointment.type == 'W'" ng-checked="appointment.status == 'completed'" ng-disabled="appointment.status == 'completed' || !isMainDate">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>

</div>