<div class="barbers">
  <div class="row">
    <div class="header-bar">
      <div class="col-sm-6">
        <div class="new-barber-action">
          <button id="btnCreateNewBarber" type="button" class="btn btn-w-m btn-header clickable" ng-click="openAddNewBarberModal()" ng-if="isAdmin()">Add new Barber</button>
          <button id="btnSettings" type="button" class="btn btn-w-m btn-header clickable" ng-click="openSettingModal()" ng-if="isAdmin()">Settings</button>
        </div>
      </div>
      <div class="col-sm-6">
        <div  class="right-actions">
          <div class="logout">
            <a href="#" ng-href="/logout" ng-show="$root.currentUser">
              <i class="fa fa-sign-out fa-2x"></i>
            </a>
          </div>
          <div class="input-group pick-date">
            <input type="text" class="form-control" datepicker-popup="MMMM dd yyyy" ng-model="today" is-open="opened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" init-date="{{today}}" ng-disabled="true" ng-change="barberScope()"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event)">
                <img class="item-img" src="calendar.png"/>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-12">
          <div class="booking-table">
            <table class="table table-bordered barber-calendar" datatable="" dt-options="bactrl.dtOptions" dt-columns="bactrl.dtColumns" dt-instance="dtInstance" dt-disable-deep-watchers="true"></table>
          </div>
      </div>
    </div>
  </div>
</div>
