<div class="modal-header">
  <h3>CHANGE {{userType.toUpperCase()}} PASSWORD</h3>
</div>
<div class="modal-body">
  <form name="passForm" class="form-horizontal" novalidate>
    <div class="form-group" ng-class="{ 'has-error' : passForm.current_password.$invalid && (!passForm.current_password.$pristine || submitted)}" ng-if="userType == 'admin'">
      <div class="col-sm-12">
        <label class="control-label">Current password: </label>
        <input ng-model="login.current_password" id="current_password" type="password" class="form-control" placeholder="Enter Current Password" required name="current_password">
        <p ng-show="passForm.current_password.$invalid && (!passForm.current_password.$pristine || submitted)" class="help-block">Current password is required.</p>
      </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : passForm.new_password.$invalid && (!passForm.new_password.$pristine || submitted)}">
      <div class="col-sm-12">
        <label class="control-label">New password: </label>
        <input ng-model="login.new_password" id="new_passwordInput" type="password" class="form-control" placeholder="Enter New Password" required name="new_password">
        <p ng-show="passForm.new_password.$invalid && (!passForm.new_password.$pristine || submitted)" class="help-block">New password is required.</p>
      </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : passForm.confirm_password.$invalid && (!passForm.confirm_password.$pristine || submitted)}">
      <div class="col-sm-12">
        <label class="control-label">Retype new password: </label>
        <input ng-model="login.confirm_password" id="confirm_password" type="password" class="form-control" placeholder="Retype New Password" required name="confirm_password" equal-field="login.new_password">
        <p ng-show="passForm.confirm_password.$invalid && (!passForm.confirm_password.$pristine || submitted)" class="help-block">Must be equal with new password.</p>
      </div>
    </div>
  </form>
  <div class="modal-action">
    <button ng-click="savePass(passForm.$valid)" class="btn btn-save">Save</button>
    <button ng-click="cancel()" class="btn btn-cancel">Cancel</button>
  </div>
</div>
