<div class="modal-header">
  <h3>CUSTOMER INFORMATION</h3>
</div>

<div class="modal-body">
  <form name="customerForm" class="form-horizontal" novalidate>
    <div class="form-group">
      <div class="col-sm-12">
        <label class="control-label">Customer name:</label>
        <input ng-model="customer.name" id="nameInput" type="text" class="form-control" placeholder="Enter customer name" name="name">
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': (customerForm.phone.$invalid && (!customerForm.phone.$pristine || submitted))}">
      <div class="col-sm-12">
        <label class="control-label">Customer phone:</label>
        <input ng-model="customer.phone" id="nameInput" type="text" class="form-control" placeholder="Enter customer phone" name="phone" ng-intl-tel-input>
        <p ng-show="customerForm.phone.$invalid && (!customerForm.phone.$pristine || submitted)" class="help-block">The phone is invalid.</p>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': (customerForm.phone.$invalid && (!customerForm.phone.$pristine || submitted))}">
      <div class="col-sm-12">
        <input type="checkbox" ng-model="customer.noRemind">
        DO NOT SEND customer an SMS message one hour before my appointment as a reminder.
      </div>
    </div>
  </form>
  <div class="modal-action">
    <button ng-click="saveCustomer(customerForm.$valid)" class="btn btn-save">Save</button>
    <button ng-click="cancel()" class="btn btn-cancel">Cancel</button>
  </div>
</div>