<div class="modal-header">
  <h3>{{currentBaber ? 'UPDATE' : 'ADD NEW'}} BABER</h3>
</div>

<div class="modal-body">
  <form name="barberForm" class="form-horizontal" novalidate> 
    <div class="form-group">
      <div class="col-sm-12">
        <upload-image new-images="newBarberImages" img-src="imgSrc"></upload-image>
      </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : barberForm.name.$invalid && (!barberForm.name.$pristine || submitted)}">
      <div class="col-sm-12">
        <label class="control-label">Barber name:</label>
        <input ng-model="newBarber.name" id="nameInput" type="text" class="form-control" placeholder="Enter baber name" required name="name">
        <p ng-show="barberForm.name.$invalid && (!barberForm.name.$pristine || submitted)" class="help-block">Name is required.</p>
      </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : barberForm.start_date.$invalid && (!barberForm.start_date.$pristine || submitted)}">
      <div class="col-sm-12">
        <label class="control-label">Start date:</label>
        <input name="start_date" ng-model="newBarber.start_date" id="start_date" type="date" class="form-control" required >
        <p ng-show="barberForm.start_date.$invalid && (!barberForm.start_date.$pristine || submitted)" class="help-block">Start date is required.</p>
      </div>
    </div>
  </form>
  <div class="modal-action">
    <button ng-click="saveBarber(barberForm.$valid)" class="btn btn-save">Save</button>
    <button ng-click="cancel()" class="btn btn-cancel">Cancel</button>
  </div>
</div>
