<div class="modal-header">
  <h3>SETTINGS</h3>
</div>

<div class="modal-body">
  <form name="settingForm" class="form-horizontal" novalidate>
    <div class="form-group" ng-class="{ 'has-error' : settingForm.code.$invalid && (!settingForm.code.$pristine || submitted)}">
      <div class="col-sm-12">
        <label class="control-label">Code: </label>
        <input ng-model="barber_code.value" id="nameInput" type="text" class="form-control" placeholder="Enter Code" required name="code">
        <p ng-show="settingForm.code.$invalid && (!settingForm.code.$pristine || submitted)" class="help-block">Code is required.</p>
      </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : settingForm.phone.$invalid && (!settingForm.phone.$pristine || submitted)}">
      <div class="col-sm-12">
        <label class="control-label">Phone: </label>
        <input ng-model="barber_phone.value" id="phoneInput" type="text" class="form-control" placeholder="Enter Phone" required name="phone">
        <p ng-show="settingForm.phone.$invalid && (!settingForm.phone.$pristine || submitted)" class="help-block">Phone is required.</p>
      </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : settingForm.time_out.$invalid && (!settingForm.time_out.$pristine || submitted)}">
      <div class="col-sm-12">
        <label class="control-label">Timeout duration (minutes): </label>
        <input ng-model="barber_time_out.value" id="time_outInput" type="text" class="form-control" placeholder="Enter Timeout Duration" required name="time_out">
        <p ng-show="settingForm.time_out.$invalid && (!settingForm.time_out.$pristine || submitted)" class="help-block">Timeout duration is required.</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12 change_password">
        Click
        <a class="control-label clickable" ng-click="openPasswordModal('admin')">HERE</a>
        to change admin password
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12 change_password">
        Click
        <a class="control-label clickable" ng-click="openPasswordModal('baber')">HERE</a>
        to change barber password
      </div>
    </div>
  </form>
  <div class="modal-action">
    <button ng-click="saveSetting(settingForm.$valid)" class="btn btn-save">Save</button>
    <button ng-click="cancel()" class="btn btn-cancel">Cancel</button>
  </div>
</div>
