
.barber-box{
  max-width: 420px;
  min-height: 20px;
  margin: 0 auto;
  margin-top: 50px;
  font-weight: 100;

  border: 1px solid #336799;
  color: #fff;
  border-style: none solid solid solid;
  .title{
    height: 48px;
    padding: 5px 20px;
    font-size: 18px;
    line-height: 37px;
    background-color: #336799;
    margin-right: -1px;
  }
  .content{
    padding: 10px;
    form {
      color: #336799;
      .form-control{
        background-color: rgba(255, 255, 255, 0);
        border-radius: 5px;
        border-color: #336799;
        &:focus, &:active, &:hover {
          border-color: #336799;
        }
        &::-webkit-input-placeholder {
          color:  #336799;
        }
        &:-moz-placeholder { /* Firefox 18- */
          color:  #336799;
        }
        &::-moz-placeholder {  /* Firefox 19+ */
          color:  #336799;
        }
        &:-ms-input-placeholder {
          color:  #336799;
        }
      }
      .form-actions {
        width: 100%;
        text-align: center;
      }
    }
  }
}

.authform.barber-box{
  .content{
    padding: 20px 10px;
    .form-group{
      margin-bottom: 30px;
    }
    .choose-type {
      margin: 10px 0;
      .admin-radio {
        margin-left: 20px;
      }
    }
  }
}