<div class="barbers">
  <div class="row">
    <div class="header-bar">
      <div class="col-sm-6">
        <div class="new-barber-action">
          <button id="btnBarberBooking" type="button" class="btn btn-w-m btn-purple clickable" ng-click="goBooking()">Barber booking</button>
          <button id="btnAdmin" type="button" class="btn btn-w-m btn-purple clickable" ng-click="goAdmin()">Admin</button>
        </div>
      </div>
      <div class="col-sm-6">
        <div  class="right-actions">
          <div class="input-group pick-date">
            <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="today" is-open="opened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" init-date="{{today}}" ng-disabled="true" ng-change="barberScope()"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event)">
                <img class="item-img" src="calendar.png"/>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="schedule-list">
      <div class="row">
        <div class="schedule-header">
          <div class="row">
            <div class="col-xs-4 header-col header-col-1">
              CLIENT NAME
            </div>
            <div class="col-xs-4 header-col header-col-2">
              BABER NAME
            </div>
            <div class="col-xs-4 header-col header-col-3">
              TIME SCHEDULE
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="item schedule-body" ng-repeat="calendar in currentCalendars">
          <div class="row">
            <div class="col-xs-4 schedule-col schedule-col-1">
              {{calendar.appointment.cus_name | uppercase}}
            </div>
            <div class="col-xs-4 schedule-col schedule-col-2">
              {{calendar.barber_name | uppercase}}
            </div>
            <div class="col-xs-4 schedule-col schedule-col-3">
              {{calendar.appointment.time | timeSlotFilter}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>