<div class="modal-header">
  <h3>{{modalOptions.headerText}}</h3>
</div>
<div class="modal-body">
  <p>{{modalOptions.bodyText}}</p>
</div>
<div class="modal-footer">
  <button class="btn btn-save"
          data-ng-click="modalOptions.ok();">{{modalOptions.actionButtonText}}</button>
  <button type="button" class="btn btn-cancel"
          data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>
</div>