.general-info{
  text-align: center;
  margin: 0 auto;
  .events{
    text-align: center;
    font-size: 20px;
    line-height: 24px;
  }
}
.scroll-content {
  background-color: #ded1d8;
}

.barbers-list {
  margin: 20px 0;
  .barber-item {
    text-align: center;
    padding: 10px 0;
    color: black;
    &.active {
      background-color: #bcb8be;
    }
    .barber-image {
      width: 100px;
      height: 100px;
      margin: 0 auto;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    .barber-name {
      padding-top: 10px;
      font-size: 18px;
    }
  }
}
.calendar {
  .calendar-header {
    height: 70px;
    padding: 8px 0;
    overflow: hidden;
    margin: 0 auto;
    background-color: #868d95;
    .calendar-image{
      height: 56px;
      width: 56px;
      overflow: hidden;
      margin: 0 auto;
      border: 1px solid #fff;
      border-radius: 50%;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .header-col-2 {
      padding: 0px;
    }
    .calendar-name{
      text-align: center;
      color: white;
    }
    .calendar-today {
      text-align: center;
      color: #716f74;
      font-size: 14px;
    }
    .calendar-date{
      width: 84px;
      height: 56px;
      margin: 0 auto;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .calendar-body {
    text-align: center;
    background-color: #7f6d79;
    height: 65px;
    padding: 15px 5px;
    color: black;
    border-top: 1px solid #ddd;
    .row{
      margin: 0px;
    }
    &.busy{
      background-color: #82626f;
    }
    &:last-child {
      border-bottom: 1px solid #ddd;
    }
    .calendar-col-1, .calendar-col-2 {
      margin-top: 8px;
    }
    .calendar-col{
      padding: 0px;
    }
    .icon-circle {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      margin: 4px 0px 0px 10px;
    }
    .icon-status{
      float: left;
      border: 2px solid green;
      &.busy{
        border: 2px solid red;
      }
    }
    .hour-action {
      button {
        width: 110px;
        height: 35px;
        min-height: 35px;
        background-color: #d29aba;
        border-color: #d29aba;
        color:  white;
      }
    }
  }
}

@media (max-width: 535px) {
  .calendar {
    .calendar-body {
      .calendar-col {
        .hour-range {
          margin-top: -10px;
        }
      }
    }
  }
}